@import "../../styles/_variables.scss";

.home {
  display: flex; // 정중앙 정렬
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #020202;

  &-wrap {
    max-width: 1840px;
    padding: 0 200px;
    margin: 0 auto;
  }
  
  &-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-photo {
      position: relative;
      width: 393px;
      height: 393px;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute; // 원 안에 이미지 들어가게
        top: 0;
        left: 0;
        width: 100%; // 원 크기와 동일
        object-fit: contain;
      }
    }

    &-text {
      margin-top: 37.73px;
      text-align: center;

      h1 {
        font-family: "Permanent Marker";
        font-size: 56.6px;
        line-height: 1.5;
        color: $yellow;
      }
      p {
        margin-top: 6.04px;
        font-family: "Poppins";
        font-size: 37.73px; // 24px
        line-height: 1.5;
        color: #fff;
      }
    }
  }
}
