@import "../../styles/_variables.scss";

.home {
  width: 100vw;
  height: 100vh;
  background-color: #020202;
  display: flex;
  align-items: center;

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;

    // photo
    &-photo {
      position: relative; // img를 원 안에 넣기 위함
      width: 393px;
      height: 393px;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: contain;
      }
    }

    // text
    &-text {
      margin-top: 24px;
      text-align: center;

      h1 {
        @include cursive;
      }
      p {
        font-size: 37.73px; 
        line-height: 36px;
        font-family: "Poppins";
        color: #fff;
        margin-top: 4px;
      }
    }
  }
}
