@import "../../styles/_variables.scss";

.contact {
  width: 100vw;
  height: 100vh;
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  .contact-contents {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;

    &-texts {
      margin-right: 122px;
      span {
        font-family: $cursive;
        font-size: 36px;
        line-height: 52.45px;
        color: $yellow;
      }
      p {
        margin-top: 22px;
        width: 297px;
        font-family: $sansSerif;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
      }
    }

    &-form {
      form {
        display: flex;
        flex-direction: column;

        .inputWithLabel {
          margin-bottom: 36px;
        }

        button {
          border: 0;
          outline: 0;
          // all: unset (기본 스타일 초기화, 정렬까지 초기화시켜버려서 안 함)
          width: 128px;
          height: 33px;
          background-color: $yellow;
          border-radius: 10px;
          position: relative;
          left: calc(100% - 128px);
          font-family: $sansSerif;
          font-size: 14px;
        }
      }
    }
  }
}
