@import "../../styles/_variables.scss";

.work {
  width: 100vw;
  height: 100vh;
  background-color: $black;
  display: flex;
  align-items: center;

  .work-wrap {
    max-width: 1725px; // 1440 넘으면 작아짐 & 1440보다 모자라면 커짐
    margin: 0 auto;
    padding: 0 142.5px;
  }

  .work-contents {

    &-menu {
      display: flex;
      justify-content: center;
      margin-top: 14px;

      ul {
        display: flex;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: $sansSerif;
          font-size: 16px;
          line-height: 1.5;
          color: #fff;

        }
        li:not(:last-of-type) {
          margin-right: 47px;
        }
      }
    }

    &-lists {
      margin-top: 50px;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 39px;

        li {
          width: 700.5px; // 438px
          height: 526.13px;
          background: #C4C4C4 url($url-images+"mac2.png") no-repeat center;
          background-size: contain;
          border-radius: 20px;         
        }
      }
    }

    &-slide {
      margin-top: 50px;
      display: flex;
      justify-content: center;

      &-circles {
        width: 10px;
        height: 10px;
        background-color: #fff;
        opacity: 25%;
        border-radius: 50%;

        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }

      .circle01 {
        background-color: $yellow;
        opacity: 100%;
      }
    }
  }
}
