// color
$yellow: #FFB800;
$black: #020202;
$grey: #252525;

// font-family
$cursive: "Permanent Marker", cursive;
$sansSerif: "Poppins", sans-serif;

$url-images: "../../../public/images/";
// url($url-images+"bg.jpg")

// 반응형
@mixin tablet {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}