@import "../../styles/_variables.scss";

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  &.left {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
}

// @mixin align($align) {
//   @if ($align == "left") {
//     justify-content: flex-start;
//   } @else if ($align == "center") {
//     justify-content: center;
//   } @else if ($align == "right") {
//     justify-content: flex-end;
//   }
// }
