@import "../../styles/variables";

.header {
  position: fixed;
  width: 100vw;

  &-wrap {
    position: absolute;
    right: 102.26px;
    padding-left: 102.26px;
  }

  &-lists {
    display: flex; // 나란히 정렬
    margin-top: 51.88px;

    &-item {
      margin-right: 54px;
      font-family: $sansSerif;
      font-size: 25.16px;
      line-height: 1.5;
      color: #fff;

      .li {
        margin-top: 5px;
      }
    }
  }
}