.header {
  width: 100vw;
  height: 69px;
  position: fixed;

  &-wrap {
    position: absolute;
    right: 65px;
  }

  &-lists {
    display: flex;
    margin-top: 33px;

    &-item {
      margin-right: 54px;
      font-size: 1rem;
      line-height: 1.5;
      color: #fff;

      .li {
        margin-top: 5px;
      }
    }
  }
}