@import "../../styles/variables";

.sidebar {
  position: fixed;
  top: 50%;
  left: 93px;

  &-wrap {
    display: flex;
    justify-content: center;
    transform: translateX(-50%) rotate(-90deg);
  }

  &-sns {
    display: flex;
    
    div {
      width: 39.31px;
      height: 39.31px;
      border-radius: 50%;
      background-color: #414141;
      margin-right: 50.32px; 
    }
  }

  &-scroll {
    display: flex;
    align-items: center;
    gap: 39.71px;
    margin-right: 39.55px;

    span {
      font-family: $sansSerif;
      font-size: 18.87px;
      line-height: 1.5;
      color: #fff;
      letter-spacing: 0.2em;
      white-space: nowrap;
    }
  }
}
