@import "./variables";

.about {
  width: 100vw;
  height: 100vh;
  background-color: $grey;

  &-contents {
    &-texts {
      &-about {
        h1 {
          font-family: $sansSerif;
          color: #fff;
        }
        span {
          font-family: $cursive;
          color: $yellow;
        }
        p {
          font-family: $sansSerif;
          color: #fff;
        }
      }
    }

    &-skills {
      font-family: $sansSerif;
      color: #fff;

      h2 {
        
      }

      // li {
      //   font-family:
      // }
    }
  }
}
