@import "./styles/variables";

* {
  box-sizing: border-box;
}

body {
  font-family: "Permanent Marker", cursive;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #fff;
}
