@import "../../styles/_variables.scss";

@mixin photo {
  width: 330px;
  height: 420px;
  border-radius: 20px;
  margin-right: 75.09px;
  background: #c4c4c4 url(#{$url-images}profile.jpg);
}

.about {
  width: 100vw;
  height: 100vh;
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;

  &-contents {
    display: flex;

    &-photo {
      @include photo;

      &-back {
        @include photo;
        background-color: #c4c4c4;
        transform: rotate(-7.17deg);
        opacity: 25%;
      }
    }

    &-texts {
      width: 37.5vw;

      &-about {
        h1 {
          font-family: $sansSerif;
          color: #fff;
        }
        span {
          font-family: $cursive;
          font-size: 36px;
          line-height: 52.45px;
          color: $yellow;
        }
        p {
          margin-top: 25px;
          margin-bottom: 40px;
          font-family: $sansSerif;
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
        }
      }

      &-skills {
        font-family: $sansSerif;
        color: #fff;

        &-lists {
          margin-top: 14px;
          display: flex;
          flex-wrap: wrap;

          li {
            width: 30%;
            padding-left: 5px;
            vertical-align: middle;
            position: relative;

            &:before {
              content: "•";
              font-size: 43px;
              color: $yellow;
              padding-right: 15px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
