@import "../../styles/_variables.scss";

@mixin photo {
  width: 518.83px;
  height: 660.33px;
  border-radius: 20px;
  margin-right: 92.01px;
  @content;
}

.about {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $grey;

  &-wrap {
    max-width: 1840px;
    padding: 0 200px;
    margin: 0 auto;
  }

  .about-contents {
    display: flex;

    &-photo {
      @include photo {
        position: relative;
        overflow: hidden;
        z-index: 1;
      }

      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    &-back {
        @include photo {
          position: absolute;
          background-color: #c4c4c4;
          transform: rotate(-7.17deg);
          opacity: 25%;
        }
    }

    &-texts {
      width: 37.5vw;

      &-about {
        h1 {
          font-family: $sansSerif;
          color: #fff;
        }
        span {
          font-family: $cursive;
          font-size: 56.6px;
          line-height: 1.5;
          color: $yellow;
        }
        p {
          font-family: $sansSerif;
          font-size: 25.16px;
          line-height: 1.5;
          margin-top: 38.69px;
          margin-bottom: 59px;
          color: #fff;
        }
      }

      &-skills {
        font-family: $sansSerif;
        color: #fff;

        &-lists {
          margin-top: 14px;
          display: flex;
          gap: 17.03px 0px;
          flex-wrap: wrap;

          li {
            font-family: $sansSerif;
            font-size: 25.16px;
            width: 30%;
            padding-left: 5px;
            vertical-align: middle;
            position: relative;

            &:before {
              content: "•";
              font-size: 43px;
              color: $yellow;
              padding-right: 15px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
