@import "../../styles/_variables.scss";

@mixin photo {
  width: 346.5px;
  height: 441px;
  border-radius: 20px;
  margin-right: 75.09px;
  @content;
}

.about {
  width: 100vw;
  height: 100vh;
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrap {
    display: flex; // left, right 배열
    max-width: 960px;
    margin: 0 auto;

    // 1. left
    &-left {
      width: 398.8px;
      position: relative;

      @mixin photo {
        width: 346.5px;
        height: 441px;
        border-radius: 20px;
        @content;
      }

      &-photo {
        @include photo {
          position: relative;
          overflow: hidden;
          z-index: 1;
        }

        &-img {
          position: absolute; // 프레임 안에 들어가게
          top: 0;
          left: 0;
          width: 100%; // 프레임과 같은 크기
          object-fit: cover;
        }
      }

      &-shadow {
        @include photo {
          position: absolute; // 이미지 아래에 겹치게
          top: 0;
          left: 0;
          transform: rotate(-7.17deg);
          background-color: #c4c4c4;
          opacity: 25%;
        }
      }
    }

    // 2. right
    &-right {
      width: calc(100% - 346.5px - 61.45px);

      // 2-1. about
      &-about {
        h1 {
          font-family: $sansSerif;
          color: #fff;
        }
        span {
          font-family: $cursive;
          font-size: 36px;
          line-height: 52.45px;
          color: $yellow;
        }
        p {
          margin-top: 25px;
          margin-bottom: 40px;
          font-family: $sansSerif;
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
        }
      }

      // 2-2. skills
      &-skills {
        font-family: $sansSerif;
        color: #fff;

        &-lists {
          margin-top: 14px;
          display: flex;
          flex-wrap: wrap;

          li {
            width: 30%;
            padding-left: 5px;
            vertical-align: middle;
            position: relative;

            &:before {
              content: "•";
              font-size: 43px;
              color: $yellow;
              padding-right: 15px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
